---
layout: page
title: "About"
description: "Hey, that's me."
header-img: "img/home-bg-art.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" style="display: none" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <p>我是<strong>黄亮亮</strong>，程序员</p>
    <p><strong>专业知识及技能</strong></p>
    <p> 主要专业技能：</p>
    <p> 较熟练的 Java 开发能力,熟悉并了解 Spring,Spring MVC,Mybatis 等常用框架,对分布式系统开发、并发编程具有一定的了解。</p>

    <p> 熟悉云计算管理平台相关业务知识，熟悉云计算管理平台架构，了解openstack 框架、API;</p>

    <p> 熟悉消息中间件ActiveMQ的基本应用;了解redis, haproxy, keepAlived的常用配置，了解linux常用命令，有线上部署实施经验。
        比较熟练运用 SQL 完成日常工作。</p>

    <p> 熟练使用 Git、SVN 等常用的版本控制系统进行代码管理。</p>

    <p> 具备一定的需求分析、设计能力，标准化文档的编写能力。</p>

    <p> 英语能力良好，能熟练阅读及表达。满足日常工作需求。</p>
    <p> <strong> 工作/实习经验</strong></p>
    <p>  [2014.07] – [至今]</p>
    <p>  [软件开发工程师] | [中移苏州软件技术有限公司] | [江苏苏州]</p>
    <p>  主要工作：参与大云计算管理平台的设计、日常研发工作，测试工作，发布部署以及线上问题支持。</p>
    <p> [2011.07] – [2011.12]</p>
    <p>  [实习生] | [趋势科技中国研发中心] | [南京]</p>
    <p>  主要工作:参与趋势科技ETS部门一个基于开源项目Review Board 的代码审查系统的开发,以及部分维护、测试工 作。</p>

    <p><strong>项目经验</strong></p>
    <p> 移动云ecloud项目</p>
    <p> 时间：2014.8-至今</p>
    <p> 项目主要技术:Spring，Mybatis，ActiveMQ，MYSQL。</p>
    <p>
        移动云为中国移动政企公司规划的公有云平台，采用5+X架构:5个一级节点，多个满足客户属地化需求的省级平台，统一对外提供服务。目前具备接近5000个节点的规模。云管平台，是移动云的门户，提供用户，资源的生命周期的管理。目前平台具备计算，存储，网络，安全，大数据，数据库，视频服务，管理与监控等8大类51项产品服务。
        个人职责：参与移动云管平台的总体架构设计，负责订单计费系统的设计，完成移动云的从0到1的过程。实现计算相关的功能开发。参与移动云的项目，带领团队完成移动云新资源池的上线
        。参与项目的版本发布，团队代码管理，分支维护。以及线上工单技术支持。</p>


</div>

<!-- English Version -->
<div class="en post-container">
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread" data-thread-key="{{site.duoshuo_username}}/about" data-title="{{page.title}}" data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
